<div class="page-container">
    <div class="create-container">
        <form action="/game/create">
            <button type="submit" class="button">Create Lobby</button>
        </form>
    </div>
    <div class="lobby-search-header">
        <div class="id-section">Lobby ID</div>
        <div class="list-section">Host</div>
        <div class="button-section"></div>
    </div>
    <div class="lobby-search" id="lobby-search">
        {{#each lobbies}}
                <div class="lobby" id="lobby-{{id}}">
                    <div class="id-section">
                        {{id}}
                    </div>
                    <div class="host-section">
                    {{#each players}}
                        <p class="host">
                        {{this}}
                        </p>
                    {{/each}}
                    </div>
                    <div class="button-section">
                        <a href="lobby/{{id}}">
                            {{!-- can add an input="submit" to get rid of the a tag  --}}
                            <button class="join-button">Join</button>
                        </a>
                    </div>
                </div>
        {{/each}}
    </div>
</div>
