<div id="index-container">
  <div class="background">
    <div class="title-container">
      <h1>{{title}}</h1>
    </div>
    <div class="login-buttons-container" id="login-buttons-container">
      <div class="login-buttons-container">
        <button class="login-page-button">
            Register
        </button>
      </div> 
      <div class="login-buttons-container">
        <button class="login-page-button">
          Login
        </button>
      </div>
    </div>
  </div>
</div>