<h1 class="lobby-title">Game Lobby</h1>

  <div class="lobby-window">
    <div class="lobby-info">
      <div class="lobby-header">
        <div class="player-section">
          <p class="player-text">Username</p>
        </div>
        <div class="player-section">
          <p class="player-text">Unready</p>
        </div>
      </div>
      {{#each players}}
      <div class="player">
        <div class="player-section">
          <p class="player-text" id="{{username}}">{{username}}</p>
        </div>
        <div class="player-section">
          <p class="ready-text">Not Ready</p>
        </div>
      {{/each}}
    </div>
  </div>
  <div class="lobby-button-container">
    <form class="lobby-outer-button" action="/lobby/startGame/{{gameId}}" >
      <button class="lobby-button" type="submit">Start Game</button>
    </form>
    <div class="lobby-outer-button" onclick="makeReady()">
      <button class="lobby-button">Ready</button>
    </div>
    <div class="lobby-outer-button">
      <button class="lobby-button" onclick="makeUnready()">UnReady</button>
    </div>
    <form class="lobby-outer-button" action="/lobby/leave/{{gameId}}">
      <button class="lobby-button" type="submit">Leave</button>
    </form>
    <form class="lobby-outer-button" method="POST" action="/users/logout">
      <button class="lobby-button" type="submit">Log Out</button>
    </form>
</div>