.page-container{
    display: flex;
    flex-direction: column;
    justify-self:center;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding-top:70px;
    width: 100%;
    height: 100%;
  }
  
  .create-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width:40%;
    height: 15vh;
    background-color:rgb(230, 230, 230);
    border: 1px solid black;
    border-radius: 5px;
    background-color:rgb(201, 145, 57);
  }
  
  .button {
    margin: 50px;
  }
  
  .browse-title{
    align-self: center;
    justify-self: center;
    transform:translate(750px);
  }
  
  .lobby-search-header {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width:40%;
    height: 5vh;
    background-color:rgb(230, 230, 230);
    border: 1px solid black;
    border-radius: 5px;
  }
  
  .lobby-search {
    width:40%;
    height: 60vh;
    background-color:rgb(230, 230, 230);
    border: 1px solid black;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 5px;
    background-color:rgb(201, 145, 57);
  }
  
  .lobby {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width:100%;
    height: 10vh;
    background-color:rgb(230, 230, 230);
    border: 1px solid black;
  }
  
  .lobby:hover {
    background-color: gray;
  }
  
  .id-section {
    display: flex;
    width:20%;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-self:center;
    margin:auto;
    padding:auto;
  }
  
  .host-section {
    display: flex;
    width:60%;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-self:center;
    margin:auto;
    padding:auto;
  }
  
  .host {
    display:flex;
    align-self: center;
    justify-self:center;
    margin:auto;
    padding:auto;
  }
  
  .button-section {
    display: flex;
    width:20%;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-self:center;
    margin:auto;
    padding:auto;
  }
  
  .join-button {
    display:flex;
  }